@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 1, 69, 122;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 216, 239, 255;
    --color-light-green-rgb: 188, 215, 126;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        rgb(var(--background-start-rgb)),
        rgb(var(--background-end-rgb))
    );
    font-family: var(--font-noto);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
.container {
    @apply mx-auto h-full w-full max-w-[1920px];
}

.wrapper-dropdown-block {
    @apply grid rounded-[20px] border border-primary bg-white px-4 py-6 text-clamp-s shadow-3xl md:pb-[40px] md:pl-[36px] md:pr-[41px] md:pt-[36px];
}
